
.container {
  overflow: hidden;
  position: relative;
  height: 100vh; 
}

.chat-widget-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px; 
  height: 500px; 
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 65px;
  margin-right: 30px;
  border-radius: 15px;
  display: none; 
}

.chat-widget {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-header {
  background-color: #0a72e0;
  color: #fff;
  padding-top: 10px;
  padding: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  padding-bottom: 6px;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-footer {
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #0a72e0;
  /* border-radius: 8px; */
  padding-top: 16px;
  margin-top: 20px;
  
}

#user-input {
  width: calc(100% - 80px);
  margin-right: 10px;
  height: 20px;
  border: none;
  background-color: #0a72e0;
  color: #f0f0f0;
}

.chat-widget-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
  margin-right: 30px;
  margin-bottom: 20px;
}
.close-button {
  cursor: pointer;
}
.user-message {
  float: right;
  background-color: #3762ee;
  color: #f0f0f0;
  border-radius: 10px;
  max-width: 70%;
  margin-left: auto; 
  padding: 10px;
  flex-wrap: wrap;
  margin-top: 10px; 
  clear: both; 
  margin-bottom: 10px; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 10px;

}
.bot{
  margin-top: 25px; 
}
.bot-message {
  text-align: left;
  background-color: #f0f0f0;
  color: #000;
  padding: 15px;
  border-radius: 10px;
  max-width: 70%;
  flex-wrap: wrap;
  clear: both; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}


.btn {
  margin-right: 0px;
}
#user-input::placeholder {
color: white;
}

.form-group{
  display: flex;
  justify-content: space-between;
}

#typing-indicator {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-top: 60px;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 4px;
  background-color: #333;
  border-radius: 50%;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotFlashing {
  0% {
    background-color: #333;
  }
  50%,
  100% {
    background-color: #ccc;
  }
}
body {
  overflow-y: hidden; /* Hide vertical scrollbar */
}

.power{
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  border-left: 5px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
  padding-top: 20px;
  padding-bottom: 15px;
}

.logo{
  color: #063ef5;
  padding-left: 5px;
  font-size: 12px;
}

.chatbot{
  color: #063ef5;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
  border: none;
  font-weight: bold;
}
.status-dot {
  height: 10px;
  width: 10px;
  background-color: #00FF00; /* Green color */
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px; /* Adds some space between the dot and the text */
  vertical-align: middle; /* Aligns the dot with the middle of the text */
}


.send-message-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.send-message-container input {
    flex: 1;
    margin-right: 5px;
}

.send-message-container button {
    background-color: #0a72e0;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.send-message-container button:hover {
    background-color: #095fb3;
}




.user{
  text-align: left;
  background-color: #f0f0f0;
  color: #000;
  padding: 15px;
  border-radius: 10px;
  max-width: 70%;
  flex-wrap: wrap;
  clear: both; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 25px; 

}


#user-message::placeholder {
  color: white;
  }

#user-message{
  width: calc(100% - 80px);
  margin-right: 10px;
  height: 20px;
  border: none;
  background-color: #0a72e0;
  color: #f0f0f0;
}

.user-history {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
